article {
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: $color-borde;
  text-align: center;
}

.btnColor {
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgb(255, 184, 197);
  text-align: center;
  border-color: $color-subtitulo;
  border-width: 0.2rem;
}
.btnColor:hover {
  background-color: rgb(255, 138, 159);
}
