body {
  margin: 0;
  padding: 0;
  background-image: url(../imagenes/background.png);
  background-size: 30%;
  background-repeat: repeat;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  box-sizing: border-box;
  overflow-x: hidden;
}
