p {
  color: $color-texto;
  text-align: center;
  font-weight: bold;
  margin: 3em;
}

h4 {
  margin-top: 3rem;
  margin-left: 2%;
  margin-right: 2%;
}

h3 {
  color: $color-subtitulo;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

a {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  color: $color-titulo;
}
